//color
$main-color:#212121;
$text-color:#383838;
$square-color:#e8e8e8;
$sec-color:#dfdfdf;
//size
$title-size:2.875rem;
$normal-size:1.375rem;
$big-size:2.25rem;
$typical-size:1.5rem;
$number-size:6.25rem;
$rare-size:1.875rem;